<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:integration="http://www.springframework.org/schema/integration"
       xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/integration https://www.springframework.org/schema/integration/spring-integration.xsd">

    <bean id="customXmlMapper" class="com.example.custom.xml.JsonTransformer"/>

    <integration:inbound-channel-adapter id="in1" channel="ch-in1-xmlToJson"/>

    <integration:channel id="ch-in1-xmlToJson"/>

    <integration:transformer id="xmlToJson" input-channel="ch-in1-xmlToJson" output-channel="ch-xmlToJson-out1"
                             ref="customXmlMapper" method="toJson"/>

    <integration:channel id="ch-xmlToJson-out1"/>

    <integration:outbound-channel-adapter id="out1" channel="ch-xmlToJson-out1"/>
</beans>
