@use "@carbon/themes";
@use "@carbon/layout";

.eip-node {
  background-color: themes.$layer-02;
  padding: layout.$spacing-02;
  border: 1px solid themes.$border-inverse;
  // border: 2.5px solid themes.$icon-interactive;
  text-align: center;
  min-inline-size: 2rem;
  min-block-size: 2rem;
  max-width: 8rem;
  max-height: 8rem;
  font-size: 0.5rem;

  &:hover {
    background-color: themes.$layer-hover-02;
  }
}

.eip-node-selected {
  outline: themes.$icon-interactive solid 2px;
}

.eip-node-image {
  padding: layout.$spacing-02;
}

.eip-endpoint-node .eip-node-image {
  width: 4rem;
  height: 4rem;
}

.eip-channel-node .eip-node-image {
  width: 6rem;
  height: 3rem;
}

.react-flow .react-flow__handle {
  background-color: themes.$icon-interactive;
  height: 25px;
  width: 6px;
}

.react-flow .react-flow__handle-right {
  right: -5px;
}

.react-flow .react-flow__handle-left {
  left: -5px;
}
