@use "@carbon/themes";
@use "@carbon/layout";
@use "@carbon/colors";

$icon-button-focus-shadow:
  inset 0 0 0 1px themes.$focus,
  inset 0 0 0 2px themes.$focus-inset;

.eip-node {
  background-color: themes.$layer-02;
  padding: layout.$spacing-03;
  border: 1px solid themes.$border-inverse;
  border-radius: 8px;
  text-align: center;
  min-inline-size: 2rem;
  min-block-size: 2rem;
  max-width: 8rem;
  max-height: 8rem;
  font-size: 0.5rem;

  &:hover {
    background-color: themes.$layer-hover-02;
  }

  .eip-node-children {
    position: absolute;
    left: layout.$spacing-02;
  }

  .eip-node-children .child-icon-button {
    border-radius: 100%;
    padding: 0;
    align-items: center;
  }

  .eip-node-children .child-icon-button:focus {
    box-shadow: $icon-button-focus-shadow;
  }

  // Used from React to control appearance of a focused button
  .eip-node-children .child-icon-button-focused {
    box-shadow: $icon-button-focus-shadow;
  }
}

.eip-node-selected {
  outline: themes.$icon-interactive solid 2px;
}

.eip-node-image {
  padding: layout.$spacing-02;
}

.eip-endpoint-node .eip-node-image {
  max-width: 6rem;
  max-height: 5rem;
}

.eip-channel-node .eip-node-image {
  width: 6rem;
  height: 3rem;
}

.react-flow .react-flow__handle {
  background-color: themes.$icon-interactive;
  height: 25px;
  width: 6px;
}

.react-flow .react-flow__handle-right {
  right: -5px;
}

.react-flow .react-flow__handle-left {
  left: -5px;
}
