// TODO: Prune imports
@use "@carbon/react" with (
  // Fetch IBM Plex fonts from remote CDN
  $use-akamai-cdn: true
);

@use "@carbon/themes";
@use "@carbon/layout";

.header-main {
  background-color: themes.$background-inverse;
}

.header-main-text {
  color: themes.$text-inverse !important;
}

.canvas {
  background-color: themes.$layer-01;
  padding: 0;
}

.right-panel {
  background-color: themes.$background;
  padding: 1rem;
  overflow-y: auto;
}

.right-panel .form-input-label {
  margin-bottom: layout.$spacing-03;
}

.cds--tooltip-content {
  // display: block !important;
  // position: fixed !important;
  // top: 423px !important;
  // left: 948px !important;
  // transform: translate(75px, 330px) !important;
  // z-index: 99999 !important;
}
