// TODO: Prune imports
@use "@carbon/react" with (
  // Fetch IBM Plex fonts from remote CDN
  $use-akamai-cdn: true
);

@use "@carbon/themes";
@use "@carbon/layout";
@use "@carbon/type";

.header-main {
  background-color: themes.$background-inverse;
}

.header-main-text {
  color: themes.$text-inverse !important;
  font-size: type.type-scale(3) !important;
}

.canvas {
  background-color: themes.$layer-01;
  padding: 0;
}

.right-panel {
  background-color: themes.$background;
  padding: 1rem;
  overflow-y: auto;
  width: 25vw;
  max-width: 25rem;

  .form-input-label {
    margin-bottom: layout.$spacing-03;
  }

  .cds--accordion__content {
    padding: 0;
  }
}

.node-chooser-panel {
  a.cds--side-nav__link {
    padding-left: 1rem;
  }

  .eip-item-container {
    cursor: grab;
  }

  .eip-item-image {
    width: 2rem;
    height: 2rem;
  }

  .eip-item-text {
    margin-left: 1rem;
    vertical-align: 0.5rem;
  }
}
